<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TEAHub</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <br/><br/><br/>
    <div class="container theme-showcase" role="main">
        <h1>Welcome to TEAHub.</h1>
        <p>Here you will see a description of TEAHub.</p>
        <div class="container-main">
            <div class="row">
                <div class="col-md-3">
                    <a href="/login" class="btn btn-primary" role="button">Sign up</a>

                </div>
                <div class="col-md-3">
                    <a href="/projects" class="btn btn-primary" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <footer class="panel-footer">
        <div class=container>
            <p><a href=https://github.com/lunatech-labs/teahub>TEAHub</a></p>
            <p><a href=http://www.lunatech.com/>Lunatech Labs, B.V.</a> 2016</p>
        </div>
    </footer>
</body>
</html>
