@(fooForm: Form[String])(implicit messages: Messages)

@import b3.vertical.fieldConstructor

@init_main("Connect to Toggle") {

    <br/>
    <div class="container theme-showcase" role="main">
        <div class="container-main">
            <div class="row">
                <div class="col-md-8">
                    <div style="height: 150px">

                        @b3.form(routes.Project.list) {
                            @b3.text(fooForm("foo"), 'label -> "token", 'placeholder -> "Please insert Toggle token")
                            <a href="/projects" class="btn btn-primary" role="button">Login</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
