@()(implicit messages: Messages)

@init_main("Project details") {
    <!-- Fixed navbar -->
    @common.top_navigation()

    <br/><br/><br/>
    <div class="container theme-showcase" role="main">
        @common.navigation(Seq(("Home", "/projects")), "Project A")
        <div class="row">
            <h1>Project A</h1>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <a href="https://github.com/lunatech-labs/teahub" target="_blank" class="btn btn-info" role="button">See it in GitHub</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <h3>Open issues</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Time estimation</th>
                    <th>Time spent</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/issues">17</a></td>
                    <td><a href="/issues">Creating Front End Mockup</a></td>
                    <td><input type="text" style="width: 35px; text-align: right" name="estimation" value="8"></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><a href="/issues">15</a></td>
                    <td><a href="/issues">Implementation of sign in/sign up flow through Github</a></td>
                    <td><input type="text" style="width: 35px; text-align: right" name="estimation" value="10"></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><a href="/issues">16</a></td>
                    <td><a href="/issues">Implementation of accessing to the Toggl projects</a></td>
                    <td><input type="text" style="width: 35px; text-align: right" name="estimation" value="7"></td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3>List of users associated to the project</h3>
            <ul class="list-group">
                <li class="list-group-item">Dimitrios Charoulis</li>
                <li class="list-group-item"><b>Erik Janssen</b></li>
                <li class="list-group-item">Jose Ceron</li>
                <li class="list-group-item">Leonor Boga</li>
                <li class="list-group-item">Mahya Mirtar</li>
                <li class="list-group-item">Maria Dominguez</li>
                <li class="list-group-item">Martin Kok</li>
                <li class="list-group-item">Vijay Kiran</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a href="/user_project" class="btn btn-primary" role="button">Manage users</a>
            </div>
        </div>
    </div>
<br/>
}
