@(form: Form[NewProject])(implicit messages: play.api.i18n.Messages)

@import helper.Implicits._
@import b3.vertical.fieldConstructor

@init_main("New project") {
    <!-- Fixed navbar -->
    @common.top_navigation()

    <br/><br/><br/>

    <div class="container theme-showcase" role="main">
        @common.navigation(Seq(("Home", "/projects")), "New project")

        @helper.form(routes.UIController.CreateNewProject) {

            <div class="container-main">
                <div class="row">
                    <div class="col-md-6">
                        @b3.select(form("githubProject"), options = Seq("A"->"Apples","P"->"Pears","B"->"Bananas"), '_label -> "Select GitHub project:", '_id -> "gitHub" )
                      </div>
                    <div class="col-md-6">
                        @b3.select(form("toggleProject"), options = Seq("A"->"Apples","P"->"Pears","B"->"Bananas"), '_label -> "Select Toggle project:" )
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br/>
                        <p>Project name</p>
                        <input type="text" class="form-control" id="projectname">
                    </div>
                    <div class="col-md-6">
                        <br/><br/>
                        <p></p>
                        <a href="/projects" class="btn btn-primary" role="button">Submit</a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    }

    <br/>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#gitHub")..load("/getAllGitHubProject/leonor", function(result){
        var options = $("#options");
        $.each(result, function() {
            options.append($("<option />").val(this).text(this.Name));
        });

    });
});
</script>

