@()

@init_main("Projects") {
    <!-- Fixed navbar -->
    @common.top_navigation()

    <br/> <br/> <br/>

    <div class="container theme-showcase" role="main">
        @common.navigation(Seq(("Home", "")), "")
        <div class="container-main">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project name</th>
                                <th>Estimation</th>
                                <th>Issues</th>
                                <th>Milestones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="/project_details">TEAHub</a></td>
                                <td>20</td>
                                <td>4</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Phylax</td>
                                <td>28</td>
                                <td>10</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Proximio</td>
                                <td>35</td>
                                <td>7</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <a href="/new_project" class="btn btn-primary" role="button">Add project</a>
        </div>
        <br/>
    </div>
}
